<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Inventory Management System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Inventory Management System</h1>

        <h2>Manage Your Inventory Easily</h2>

        <div class="card" style="margin: 40px auto;">

            <h3>Welcome</h3>

            <p>
                Manage products, stock, suppliers and inventory
                reports from one simple system.
            </p>

            <div class="buttons">

                <a href="/login" class="button">
                    Login
                </a>

            </div>

        </div>

    </div>

</body>

</html>